<!-- ROW 1 -->
<div class="row">
  <div class="col-xs-12">
    <img src="" alt="LOADING IMG" class="img-responsive" />
  </div>
</div>
<!-- ROW 2 -->

<div class="row">
  <div class="col-xs-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<!-- ROW 3 -->

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add Ingredients</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ROW 4 -->

<div class="row">
  <div class="col-xs-12">Description</div>
</div>
<!-- ROW 5 -->

<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
